<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webVault"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.webVault" />

    <application
        android:name=".WebVaultApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.webVault.activities.SelectKeyFileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webVault.activities.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user">
        </activity>
        <activity
            android:name="com.webVault.activities.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name="com.tools.DialogWithInputBox"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name="group.pals.android.lib.ui.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user"
            android:theme="@style/Alp.Theme.Dark" />
    </application>

</manifest>